body {
	background-color: black;
	color: white;
	padding: 5px;
}

.log{
	background-color: white;
	color: black;
	border-radius: 10px;
	margin: 10px 0;
}

.pad {
	padding: 10px 10px;
}

#text {
	text-align: justify;
	padding-bottom: 20px;
}
.login {
	padding-top: 30px;
}
#regist{
    display: none;
}

.inverse {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'invert\'><feColorMatrix in='SourceGraphic' type='matrix' values='-1 0 0 0 1 0 -1 0 0 1 0 0 -1 0 1 0 0 0 1 0'/></filter></svg>#invert");
	-moz-filter: invert(100%);
    -webkit-filter: invert(100%);
    -o-filter: invert(100%);
    -ms-filter: invert(100%);
    filter: invert(100%);
}