body{
	margin: 60px 0 0px 0;
	padding: 10px;
	background-color: #EEE;
}

#closeSession img {
	width: 32px;
	height: 32px;
}
.nav-stacked {
	background-color: #222;
	border-radius: 5px;
}
li:first-child {
	border-bottom: 2px solid #EEE;
}

ul.nav-stacked a:hover {
	background-color: #CCC;
}

ul.nav-stacked a {color:white; }

.main {
	background-color: #DDD;
	border-radius: 15px
}

a > div {
	padding: 10px;
	border-radius: 5px;
}

a > div:hover {
	background-color: #CCC;
}
.hidden{
	display: none;
}
.rojo {
	color: red;
}

.right {
	float: right;
}

.erase {
	cursor: pointer;
	background: url('../images/delete.gif');
	height: 16px;
	width: 16px;
	float: left;
}

.erase:hover {
	background-position: 0 -16px;
}

/*input[type='checkbox']:first-child {
	margin-left: 20px;
}*/